<ul>
  {{#each graduate in model}}
    <li class="testing">
      {{#link-to 'graduate' graduate}}
        {{graduate.firstName}} {{graduate.lastName}}        
      {{/link-to}}
    </li>
  {{else}}
    <li>No grads found.</li>
  {{/each}}
</ul>



