<div class="wrapper">
      <div class="row">
        <div class="col-md-offset-1 content blog post" style="margin-left: 0px">
          <div class="page" style="max-width: 600px">
            <article>
              <div class="page-header" style="padding-bottom: 0px">
                <img src="assets/images/ruby007"/>
              </div><!-- end page-header -->
              <div class="post-content">
                <p class="lead">"The Flatiron School trains passionate, creative people in web and mobile development"</p>
                <p>Learn more about Flatiron grads––who they are, what they love and what they get up to in life after Flatiron.</p>
                <br>
                <a href="/graduates" class="btn btn-default" style="margin-left: 40%">view grads</a>
              </div><!-- end post-content -->
            </article>
          </div><!-- end post -->
        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end wrapper -->
